{% extends 'base.html' %}
{% block content %}


<main id="main">

  
  
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
      <div class="container position-relative">
       
      </div>
    </div>
    
  </div><!-- End Breadcrumbs -->
 
  <section id="order_success" class="order_success">
    <div class="container" data-aos="fade-up">

      
        <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
          <div class="container position-relative">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-6 text-center">
                <center><i class="fa-solid fa-circle-check fa-7x"></i></center>
                <br>
                <h1>ORDER <br>SUCCESSFUL</h1>
                <br>
                <br>
                <br>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
    

    </div>
  </section>

</main><!-- End #main -->
{% endblock content %}