{% extends 'base.html' %}
{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>What's out there?</h2>
            <p>Check the price trend</p>
          </div>
        </div>
      </div>
    </div>

  </div><!-- End Breadcrumbs -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">
        <div class="table-responsive"></div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>#</td>
              <td>CropName</td>
              <td scope="col">Price/ quintal</td>
              <td scope="col"></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td scope="row">2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
          </tbody>
        </table>
        </div>






      </div>

    </div>
  </section><!-- End Pricing Section -->

</main><!-- End #main -->



{% endblock content %}