{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>


<table style="width:100%">
  <tr>
    <th>Product</th>
    <th>Farmer's Name</th>
    <th>Price Per Quintal</th>
  </tr>
  <tr>
    <td>Wheat</td>
    <td>Maria Anders</td>
    <td>200</td>
  </tr>
  <tr>
    <td>Rice</td>
    <td>Francisco Chang</td>
    <td>339</td>
  </tr>
</table>


</body>
</html>


{% endblock content %}