{% extends 'base.html' %}
{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 id="59">What's out there?</h2>
            <p id="60">Check the price trend</p>
          </div>
        </div>
      </div>
    </div>

  </div><!-- End Breadcrumbs -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">
      
        <div class="table-responsive"></div>
        <table class="table table-bordered my-1 ">
          <thead>
              <head>
         <style>
          table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }
          
          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
          
          tr:nth-child(odd) {
            background-color:#D6FFD6;
          }
          </style>
          </head>
          <body>
          
         
          
          <table>
            <tr>
             <th>#</th>
              <th>CROP NAME</th>
             
              <th>PRICE/QUINTAL(Rupees)</th>
            </tr>
            <tr>
              <td>1</td>
              <td> Paddy</td>
              
              <td>2040</td>
            </tr>
            <tr>
              <td>2</td>
              <td> Wheat</td>
              <td>2015</td>
            </tr>
            <tr>
              <td>3</td>
              <td> Jowar(Maldandi)</td>
              
              <td>2990</td>
            </tr>
            <tr>
              <td>4</td>
              <td> Jowar(Hybrid)</td>
             
              <td>2970</td>
            </tr>
            <tr>
              <td>5</td>
              <td> Bajra</td>
             
              <td>2350</td>
            </tr>
            <tr>
              <td>6</td>
              <td> Ragi</td>
             
              <td>3578</td>
            </tr>
            <tr>
              <td>7</td>
              <td> Maize</td>
             
              <td>1962</td>
            </tr> 
            <tr>
              <td>8</td>
              <td> Barley</td>
             
              <td>1635</td>
            </tr>
          </table>
          
          </body>




      </div>

    </div>
    <p style="padding-left:110px; padding-top: 20px; color: rgb(79, 77, 77);">Credits: <a href="https://fci.gov.in/procurements.php?view=89">FCI-Government of India</a></p>
  </section><!-- End Pricing Section -->

</main><!-- End #main -->



{% endblock content %}