{% extends 'base.html' %}
{% block content %}

<!-- <main id="main"> -->

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Account Settings</h2>
            
          </div>
        </div>
      </div>
    </div>

  </div> 
  <!-- End Breadcrumbs -->






<section id="get-a-quote" class="get-a-quote">
    <div class="container" data-aos="fade-up">

      <div class="row g-0"  >

        <!-- <div class="col-lg-5 quote-bg" style="background-image: url(assets/img/quote-bg.jpg);"></div> -->

        <div >
          <form action="" method="post" class="php-email-form">
            {% csrf_token %}
            <h1>Edit Profile</h1>
            
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="city" class="form-control" placeholder="City " value="{{profile.city}}" required>
              </div>

              <div class="col-md-6">
                <input type="text" name="pincode" class="form-control" placeholder="Pincode" value="{{profile.pincode}}" required>
              </div>


              <div class="col-lg-12">
                <h4>Your Personal Details</h4>
              </div>

              <div class="col-md-12">
                <input type="text" name="name" class="form-control" placeholder="Name" value="{{profile.user.first_name}}" required >
                
              </div>

              <div class="col-md-12">
                <input type="tel" class="form-control" name="mobile" placeholder="Phone Number" value="{{profile.mobile}}" required>
              </div>

             

              <div class="col-md-12 text-center">
                <!-- <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your account has been updated successfully created!</div> -->

                <button type="submit">Save Profile</button>
              </div>

            </div>
          </form>
        </div><!-- End Quote Form -->

      </div>

    </div>
  </section><!-- End Get a Quote Section -->

{% endblock content %}
