{% extends 'base.html' %}
{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>YOUR ASSETS</h2>
            <!-- <p>Select a product to sell or buy</p> -->
          </div>
        </div>
      </div>
    </div>

  </div><!-- End Breadcrumbs -->

  
  <!-- ======= Services Section ======= -->
  <section id="service" class="services pt-0">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <span>YOUR OFFERS</span>
        <h2>YOUR OFFERS</h2>

      </div>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/storage-service.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">Storage</a></h3>
            <p>Cumque eos in qui numquam. Aut aspernatur perferendis sed atque quia voluptas quisquam repellendus
              temporibus itaqueofficiis odit</p>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/logistics-service.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">Logistics</a></h3>
            <p>Asperiores provident dolor accusamus pariatur dolore nam id audantium ut et iure incidunt molestiae dolor
              ipsam ducimus occaecati nisi</p>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/cargo-service.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">Cargo</a></h3>
            <p>Dicta quam similique quia architecto eos nisi aut ratione aut ipsum reiciendis sit doloremque oluptatem
              aut et molestiae ut et nihil</p>
          </div>
        </div><!-- End Card Item -->

        <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/trucking-service.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">Trucking</a></h3>
            <p>Dicta quam similique quia architecto eos nisi aut ratione aut ipsum reiciendis sit doloremque oluptatem
              aut et molestiae ut et nihil</p>
          </div>
        </div> -->
        
        <!-- End Card Item -->

        <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/packaging-service.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">Packaging</a></h3>
            <p>Illo consequuntur quisquam delectus praesentium modi dignissimos facere vel cum onsequuntur maiores
              beatae consequatur magni voluptates</p>
          </div>
        </div> -->
        
        <!-- End Card Item -->

        <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/warehousing-service.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">Warehousing</a></h3>
            <p>Quas assumenda non occaecati molestiae. In aut earum sed natus eatae in vero. Ab modi quisquam aut
              nostrum unde et qui est non quo nulla</p>
          </div>
        </div> -->
        
        <!-- End Card Item -->

      </div>

    </div>
  </section><!-- End Services Section -->

 



</main><!-- End #main -->

{% endblock content %}