{% extends 'base.html' %}
{% block content %}
<section id="get-a-quote" class="get-a-quote">
    <div class="container" data-aos="fade-up">

      <div class="row g-0"  >

        <!-- <div class="col-lg-5 quote-bg" style="background-image: url(assets/img/quote-bg.jpg);"></div> -->

        <div >
          <form action="forms/quote.php" method="post" class="php-email-form">
            <h1>SIGNUP</h1>
            
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="departure" class="form-control" placeholder="City " required>
              </div>

              <div class="col-md-6">
                <input type="text" name="delivery" class="form-control" placeholder="Pincode" required>
              </div>

              

              <div class="col-lg-12">
                <h4>Your Personal Details</h4>
              </div>

              <div class="col-md-12">
                <input type="text" name="name" class="form-control" placeholder="Name" required>
              </div>
              


             


              <div class="col-md-12 ">
                <input type="text" class="form-control" list="role" placeholder="Role" required>
                <datalist id="role">
                    <option>Farmer</option>
                    <option>Buyer</option>
                    
                </datalist>
              </div>


              <div class="col-md-12">
                <input type="tel" class="form-control" name="phone" placeholder="Phone" required>
              </div>

              <div class="col-md-12">
                <input type="tel" name="form-control" class="form-control" placeholder="OTP" required>
              </div>

             

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your account has been successfully created!</div>

                <button type="submit">SIGNUP</button>
              </div>

            </div>
          </form>
        </div><!-- End Quote Form -->

      </div>

    </div>
  </section><!-- End Get a Quote Section -->
{% endblock content %}